@import "../../App";

.header {
  position: relative;
  :global {
    .am-navbar {
      background: $main-color;
    }
  }
  .menu {
    position: absolute;
    z-index: 99;
    box-shadow: 2px 2px 1px #888888;
    left: 0;
    width: 40%;
  }
}
